/*.nvd3-svg {
    width: 100%;
    height: 500px;
}*/

p.title { background: #ccc;}

#distribution-settlement-size-chart .nv-focus rect {
  cursor: pointer;
}
.nv-brush .background {
  visibility: visible !important;
  stroke: #000;
  stroke-width: .4;
  fill: #fff;
  fill-opacity: 0;

}

.nv-multiBarHorizontalChart .nv-axis line {
  stroke: none;
}

.nv-multiBarWithLegend .nv-axis.nv-x line {
  stroke: none;
}

.nv-multiBarWithLegend .nv-axis.nv-y .zero line {
  stroke: #000;
  stroke-width: 1.5;
  transform: translateY(1px);  
}

.nvd3 .nv-axis.nv-y .nv-axisMaxMin text {
    font-weight: normal;
}

.nv-pie .nv-label text {
  font-weight:bold;
  background-color:#fff;
}
    /* visibility: hidden; */
/* ------   
#a1d99b  light green
#fdae6b  light orange

  ---------- */
/*
.early-pleading {fill: #a1d99b !important   }
.late-pleading {fill: #6baed6   !important  }
.discovery {fill: #fdae6b  !important  }
*/
